---
title:      'Adams Super Duper Really Totally Long Post About Something So Amazing This Is Necessary'
tags:       [android, apps]
categories: [design]
heroimage:  ''
excerpt:    'Short description of the article'
---

extends ../../views/layouts/_single

block content
  :markdown
    Here's my first post on this little blog. **How exciting!**