---
title:      'Adams Super Duper Really Totally Long Post About Something So Amazing This Is Necessary'
categories: [design]
heroimage:  'https://images.unsplash.com/photo-1431578500526-4d9613015464?q=80&fm=jpg&s=169b4f4e6f3882a03b6b93b2e6848052'
excerpt:    'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.'
---

extends ../../views/layouts/_single

block content
  :markdown
    Here's my first post on this little blog. **How exciting!**