---
title:      'Adams 2nd Post'
categories: [build, ideate]
heroimage:  'dj.jpeg'
excerpt:    'Short description of the article'
---

extends ../../views/layouts/_single

block content
  :markdown
    Here's my first post on this little blog. **How exciting!**
