---
title:      'Adams 2nd Post'
categories: [build, ideate]
heroimage:  'https://images.unsplash.com/photo-1433354359170-23a4ae7338c6?q=80&fm=jpg&s=ae9f141fc85e050f6d68d1654c554236'
excerpt:    'Short description of the article'
---

extends ../../views/layouts/_single

block content
  :markdown
    Here's my first post on this little blog. **How exciting!**