---
title:      'Adams 2nd Post'
author:     'Adam'
date:       1/2/3030
tags:       [android, apps]
categories: [build, ideate]
---

extends ../../views/_single

block content
  :markdown
    Here's my first post on this little blog. **How exciting!**