---
title:      'The Future of Android: Android N the Future of Things to Come in Open Source'
categories: [ideate]
heroimage:  'dan_androidfuture.jpg'
excerpt:    'To the casual Android user, there are not many changes that can disrupt the platforms future. But the latest code which developers have unearthed in the just-released flagship Android OS release by Google has definitely hit many in the middle.' 
---

extends ../../views/layouts/_single

block content
  :marked
    To the casual Android user, there are not many changes that can disrupt the platforms future. But the latest code which developers have unearthed in the just-released flagship Android OS release by Google has definitely hit many in the middle. 

    ## Google’s Documentation says so, too
        
    It appears that it is not just the developer code that is hinting of changes set to come to the OS but it is also in the official document that Google Inc, has included with the release. 
    The disruption hidden in layers of code and official small print is that Android too will go the way of hybrids. 
    If that does not shock you enough, here is more. The hybrid will not be just a common platform but a ‘true hybrid’ much like Windows 10. Chrome OS and Chromebook could soon sit side-by-side with tablets, laptops, smartphones, PCs and even wearables, merging seamlessly. 

    ## Android N: The Future of things to Come in Open Source

    The release of Android N with native support has definitely set the mobile computing world on a new course correction. The new additions include native support or split-screening apps, multiple window app display, closely following the refinement curve happening on Windows OS on these features. 

    Android N has caught most by surprise, because, all along developers of this open source platform have consciously stayed away from hybridizing the system. Similarly, Apple’s OS developers have maintained that they do not need to welcome other nativities on their proprietary OS. However, these are public bravado by the two software giants, opined mobile industry insiders. 

    The ring side view in the mobile industry is that, Apple OS and Android OS are running towards hybrid systems because they smell their biggest ever challenge is round the corner, in the form of the giant blue juggernaut – Microsoft’s Windows OS version 10.

    Microsoft with CEO Satya Nadella at the helm has been moving at an explosive speed, despite the visible ganglions across its product offerings. But the larger and long-term vision he holds for Windows OS penetrating into every visible digital aspect has Android and Apple OS developers looking to support Windows OS natively! 


    The bottom line is that, Android OS will soon be packed into Chrome thanks to Windows OS greatness!
