svg#icon-arrow(width='33', height='25', viewbox='0 0 33 25', xmlns='http://www.w3.org/2000/svg')
  g(stroke-linecap='square', stroke='#FFF', stroke-width='4', fill='none', fill-rule='evenodd')
    path(d='M2.937 12.534h26.15M21.165 3.534l8.94 8.984-9.18 9.225')
