svg#icon-commit(width='18', height='18', viewbox='0 0 18 18', xmlns='http://www.w3.org/2000/svg')
  g(fill='none', fill-rule='evenodd')
    path(d='M3.803 4.12H0v2.855h3.803c.604 2.372 2.676 4.12 5.14 4.12 2.463 0 4.536-1.748 5.14-4.12H18V4.12h-3.917C13.48 1.747 11.406 0 8.943 0 6.48 0 4.407 1.748 3.803 4.12zm5.14 4.503c1.63 0 2.95-1.377 2.95-3.076 0-1.7-1.32-3.076-2.95-3.076-1.63 0-2.95 1.38-2.95 3.078 0 1.7 1.32 3.076 2.95 3.076z', fill='hsl(214, 4%, 34%)')
