svg.icon-facebook(width='25', height='25', viewbox='0 0 25 25', xmlns='http://www.w3.org/2000/svg')
  ellipse.animate-fill(fill='#222', cx='12.002', cy='12.054', rx='12.002', ry='12.054')
  path.animate-fill(d='M10.067 18.374h2.472v-6.26h1.723l.184-2.094H12.54V8.826c0-.494.097-.69.57-.69h1.337V5.962h-1.712c-1.84 0-2.668.82-2.668 2.387v1.67H8.782v2.12h1.285v6.234', fill='#FFF')
