svg#icon-googleplus(width='25', height='25', viewbox='0 0 25 25', xmlns='http://www.w3.org/2000/svg')
  ellipse.animate-fill(fill='#222', cx='12.002', cy='12.054', rx='12.002', ry='12.054')
  path.animate-fill(d='M10.396 11.35v1.56h2.584c-.104.672-.78 1.967-2.584 1.967-1.555 0-2.825-1.29-2.825-2.877 0-1.588 1.27-2.877 2.826-2.877.886 0 1.478.377 1.816.703l1.237-1.19c-.795-.743-1.823-1.192-3.054-1.192C7.876 7.444 5.84 9.48 5.84 12c0 2.52 2.037 4.556 4.556 4.556 2.63 0 4.374-1.848 4.374-4.452 0-.3-.032-.527-.07-.755h-4.304zM20.16 11.35h-1.302v-1.303h-1.302v1.302h-1.3v1.3h1.3v1.303h1.302V12.65h1.302', fill='#fff')

