svg(width='23', height='21', viewbox='0 0 23 21', xmlns='http://www.w3.org/2000/svg')
  g(fill='#FFF', fill-rule='evenodd')
    path(d='M9.692 12.965c-.3 0-.597-.105-.825-.314-2.137-1.96-2.137-5.148 0-7.108l4.31-3.955C14.214.637 15.59.115 17.053.115c1.464 0 2.84.523 3.874 1.472 2.137 1.96 2.137 5.15 0 7.11l-1.97 1.807c-.456.418-1.196.418-1.652 0-.456-.42-.456-1.097 0-1.515l1.97-1.81c1.227-1.124 1.227-2.953 0-4.078-.593-.545-1.382-.845-2.222-.845-.84 0-1.63.3-2.223.845l-4.312 3.955c-1.226 1.125-1.226 2.954 0 4.08.456.417.456 1.096 0 1.514-.228.21-.527.315-.826.315z')
    path(d='M5.555 20.715c-1.463 0-2.84-.523-3.874-1.472-2.135-1.96-2.135-5.15 0-7.11l1.972-1.806c.456-.42 1.195-.42 1.65 0 .457.418.457 1.096 0 1.514l-1.97 1.81c-1.226 1.124-1.226 2.954 0 4.078.594.545 1.383.845 2.223.845.84 0 1.63-.3 2.223-.845l4.312-3.955c1.225-1.125 1.225-2.954 0-4.08-.456-.417-.456-1.095 0-1.514.456-.42 1.195-.42 1.65 0 2.137 1.96 2.137 5.148 0 7.108l-4.31 3.955c-1.035.95-2.41 1.472-3.875 1.472z')
