svg#icon-twitter(width='25', height='25', viewbox='0 0 25 25', xmlns='http://www.w3.org/2000/svg')
  ellipse(fill='#222', cx='12.002', cy='12.054', rx='12.002', ry='12.054')
  path(d='M6.356 15.614c1.01.65 2.21 1.03 3.5 1.03 4.238 0 6.633-3.595 6.49-6.82.445-.323.832-.727 1.138-1.187-.41.183-.85.306-1.312.36.472-.283.834-.732 1.004-1.267-.44.262-.93.453-1.45.556-.416-.446-1.01-.724-1.666-.724-1.473 0-2.557 1.38-2.224 2.815-1.897-.095-3.58-1.008-4.705-2.395-.598 1.03-.31 2.38.707 3.06-.374-.01-.726-.114-1.034-.286-.025 1.062.733 2.056 1.83 2.277-.32.088-.672.108-1.03.04.29.91 1.134 1.573 2.133 1.592-.96.756-2.17 1.093-3.38.95', fill='#FFF')
