svg#icon-youtube(width='25', height='25', viewbox='0 0 25 25', xmlns='http://www.w3.org/2000/svg')
  path(d='M12.973 24.107c6.628 0 12-5.396 12-12.053 0-6.657-5.372-12.054-12-12.054C6.343 0 .97 5.397.97 12.054s5.374 12.053 12.003 12.053z', fill='#222')
  path(d='M16.734 7.35H9.21c-1.24 0-2.257 1.016-2.257 2.257v4.514c0 1.243 1.016 2.26 2.257 2.26h7.524c1.242 0 2.257-1.017 2.257-2.26V9.608c0-1.24-1.014-2.257-2.256-2.257zm-5.267 7.524v-6.02l3.762 3.01-3.763 3.01z', fill='#FFF')
