svg#icon-youtube(width='25', height='25', viewbox='0 0 25 25', xmlns='http://www.w3.org/2000/svg')
  ellipse(fill='#222', cx='12.002', cy='12.054', rx='12.002', ry='12.054')
  path(d='M16.734 7.35H9.21c-1.24 0-2.257 1.016-2.257 2.257v4.514c0 1.243 1.016 2.26 2.257 2.26h7.524c1.242 0 2.257-1.017 2.257-2.26V9.608c0-1.24-1.014-2.257-2.256-2.257zm-5.267 7.524v-6.02l3.762 3.01-3.763 3.01z', fill='#FFF')
