//- font loading strategy here, block page rendering and check if the font is in cache
//- if it is, then add the class to the head. this will prevent FOUC, except on the first page load
script
  :coffee-script
    if !!localStorage['fonts-loaded'] then document.documentElement.className += 'fonts-loaded'