section.site-map: .reflex-container.reflex-wrap.reflex-justify-space-between
  .reflex-col-xs-6.reflex-direction-column
    p Commit something to the Android Intel Hub
    .reflex-container
      .link-nav-set.reflex-col-12.reflex-align-center.reflex-justify-space-between
        a(href='feed.html') Feed
        a(href='field-guide.html') Field Guide
        a(href='authors.html') Authors
        a(href='about.html') About
        a(href='commit.html') Commit

  .reflex-col-xs-4.reflex-justify-end.reflex-direction-column
    .reflex-container.reflex-justify-space-between
      include _social-icons

    .reflex-container.push-top
      .reflex-col-6.push-right.text-right
        img.reflex-img.cover(src='http://placehold.it/60x50&text=intel')
      .link-nav-set.reflex-col-6.reflex-direction-column.reflex-justify-end
        .reflex-item: a() Terms of use
        .reflex-item: a() Privacy
        .reflex-item: a() Cookies