footer
  .grey-bg: section
    .reflex-container.reflex-align-center
      .reflex-col-sm-5.reflex-col-xs-12: .reflex-item
        h3.marginless Lovin' the hub?
        h5.marginless Share the Hub on the Interwebz!
      .reflex-col-sm-7.reflex-col-xs-12
        a.reflex-item.reflex-item-margin-sm(href='')
          img.reflex-img(src='http://placehold.it/50x50&text=Tw') 
          .reflex-item Tweet
        a.reflex-item.reflex-item-margin-sm(href='')
          img.reflex-img(src='http://placehold.it/50x50&text=Fb')
          .reflex-item Post  

  section
    p commit something
