.grey-bg: section
  .grid.grid--bleed.grid--justify-space-between.grid--align-center
    .grid__col-xs-5
      h3.marginless Lovin' the hub?
      h5.marginless Share the Hub on the Interwebz!
      
    .grid__col-xs-4.grid--direction-row
      a#tweet.inline-social(href='')
        img.lazyload(data-src='http://placehold.it/50x50&text=Tw', height='50px') 
        span.social-text Tweet
      a#post.inline-social(href='')
        img.lazyload(data-src='http://placehold.it/50x50&text=Fb', height='50px')
        span.social-text Post  