.grey-bg: section
  .reflex-container.reflex-wrap.reflex-justify-space-between
    .reflex-col-xs-5.reflex-align-center: .reflex-item
      h3.marginless Lovin' the hub?
      h5.marginless Share the Hub on the Interwebz!
      
    .reflex-col-xs-5.reflex-align-center
      a.inline-social(href='')
        img(src='http://placehold.it/50x50&text=Tw') 
        span.social-text Tweet
      a.inline-social(href='')
        img(src='http://placehold.it/50x50&text=Fb')
        span.social-text Post  