.grey-bg: section
  .grid.grid--wrap.grid--bleed.grid--justify-space-between.grid--align-center
    .grid__col-xs-5
      h3.marginless Lovin' the hub?
      h5.marginless Share the Hub on the Interwebz!
      
    .grid__col-xs-4.grid--direction-row
      a.inline-social(href='')
        img.lazyload(data-src='http://placehold.it/50x50&text=Tw') 
        span.social-text Tweet
      a.inline-social(href='')
        img.lazyload(data-src='http://placehold.it/50x50&text=Fb')
        span.social-text Post  