.dark-grey-bg: section
  h2.marginless.text-center Share the Hub with your friends and followers!

  .grid.grid--justify-space-around
    .grid__col-4.grid__col-md-3
      a#tweet.inline-social(href='')
        include svg/_twitter
        span.social-text.hidden-sm Post to Twitter

    .grid__col-4.grid__col-md-3
      a#post.inline-social(href='')
        include svg/_facebook
        span.social-text.hidden-sm Post to Facebook

    .grid__col-4.grid__col-md-3
      a#plus.inline-social(href='')
        include svg/_googleplus
        span.social-text.hidden-sm Post to Google +