nav: section.no-responsive-padding: .reflex-container
  .reflex-col-8
    a(href=''): img(src='http://placehold.it/100x50&text=LOGO')
    a.reflex-item.reflex-align-self-center(href='feed.html') Feed
    a.reflex-item.reflex-align-self-center(href='authors.html') Authors
    a.reflex-item.reflex-align-self-center(href='about.html') About
    a.reflex-item.reflex-align-self-center(href='commit.html') Commit
  .reflex-col-4
    a.reflex-item.reflex-align-self-center(href='field-guide.html'): img(src='http://placehold.it/150x50&text=FieldGuide')
    a.reflex-item.reflex-align-self-center(href=''): img(src='http://placehold.it/50x50&text=Tw')
    a.reflex-item.reflex-align-self-center(href=''): img(src='http://placehold.it/50x50&text=Fb')
    a.reflex-item.reflex-align-self-center(href=''): img(src='http://placehold.it/50x50&text=G+')