//- nav
//-   a(href='/') Home
//-   a(href='/about') About
//-   a(href='/contribute') Contribute
//-   a(href='/authors') Authors

nav: section
  h1: a(href='') Intel Android Hub
  ul
    //- li: a(href='') Home
    li: a(href='/feed.html') Feed
    li: a(href='/authors.html') Authors
    li: a(href='/about.html') About
    li: a(href='/commit.html') Commit
    li: a(href='/android-field-guide') Android Field Guide
