nav: section.no-responsive-padding: .reflex-container
  .link-nav-set.text-center.reflex-col-9.reflex-align-center.reflex-justify-space-between
    a.flex-child-image-fix(href=''): img.logo(src='http://placehold.it/60x25&text=LOGO')
    a(href='feed.html') Feed
    a(href='authors.html') Authors
    a(href='about.html') About
    a(href='commit.html') Commit
    a.flex-child-image-fix(href='field-guide.html'): img.field-guide(src='http://placehold.it/120x40&text=FieldGuide')
  .reflex-col-3.reflex-align-center.reflex-justify-end
    include _social-icons