meta(charset='utf8')
meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
meta(name='description', content=data.meta.opengraph.description)
//- meta(name='author', content=data.meta.opengraph.author)
meta(name="viewport" content="width=device-width, initial-scale=1")
link(rel='icon', type='image/png', href='/img/favicon.ico')
link(rel='icon', type='image/svg+xml', href='/img/droid.svg')
link(rel='mask-icon', sizes='any', href='/img/droid.svg', color='white')