a.social-icon(href=''): img(src='http://placehold.it/30x30&text=Tw')
a.social-icon(href=''): img(src='http://placehold.it/30x30&text=Fb')
a.social-icon(href=''): img(src='http://placehold.it/30x30&text=G+')
a.social-icon(href=''): img(src='http://placehold.it/30x30&text=Em')
a.social-icon(href=''): img(src='http://placehold.it/30x30&text=Yt')