//- nav
//-   a(href='/') Home
//-   a(href='/about') About
//-   a(href='/contribute') Contribute
//-   a(href='/authors') Authors

nav
  h1 Intel Hub
  ul
    li: a(href='/') Home
    li: a(href='about') About
    li: a(href='contribute') Contribute
    li: a(href='authors') Authors