//- nav
//-   a(href='/') Home
//-   a(href='/about') About
//-   a(href='/contribute') Contribute
//-   a(href='/authors') Authors

nav
  h1: a(href='') Intel Hub
  ul
    //- li: a(href='') Home
    li: a(href='feed.html') Feed
    li: a(href='authors.html') Authors
    li: a(href='about.html') About
    li: a(href='commit.html') Commit