include ../mixins/_nav
include ../mixins/_language-selector
include ../mixins/_author
include ../mixins/_og-meta
include ../mixins/_twitter-meta
include ../mixins/_tracking-pixel
include ../mixins/_feed-item
include ../mixins/_feed-home-item
include ../mixins/_related-post

doctype html
html(lang='en')

  head
    include ../includes/_font-strategy
    include ../includes/_site-meta
    +og-meta(data.meta.opengraph)
    +twitter-meta(data.meta.twitter)

    title= data.meta.opengraph.title
    if env == 'dev'
      != css('/')
  
    if env == 'prod'
      link(rel='stylesheet', href="/css/app.css?v=#{timestamp}")
    

  body
    +language-selector()
    
    block nav
      +nav()
    
    block content

    include ../includes/_footer
    if env == 'dev'
      != js('/')
    if env == 'prod'
      script(src="/js/app.js?v=#{timestamp}")
    
    block trackers
