extends layouts/_general
include mixins/_author
include mixins/_nav

block nav
  +nav('about')

block content
  .section-title: section
    h3.marginless.animate-prep About

  main: section: .card
    .grid.grid--justify-center: .grid__col-sm-9
      h3.marginless For developers, by developers
      p At Intel, we believe in inspiring innovation, whether in hardware, in tools, or in software.
      p That’s why we’ve created this site: to bring together the developers who are redefining what’s possible with Android and—in the process—helping shape the future of this amazing technology. To create a community where developers can talk to, share with, and learn from other like-minded developers, whether you’re getting ready to develop your first app or an experienced dev with specific questions about the Android development process.
      p With content created and curated by Android developers, for Android developers, we hope this site will inspire you to help create the next big Android innovation—with a little help from your friends. 

    .spacer.sm

    h2 Founding Contributors
    ul.grid.reverse-margin-md
      for author in data.authors
        if author.founder
          +author(author)

    .text-right: a.btn.blue.clear(href=data.paths.authors) 
      | See all our authors 
      include includes/svg/_arrow

    .spacer.lg.hidden-xs
