extends layout

block content
  h3 Authors

  ul
    - var authorsAlphabetical = _.sortByAll(site.posts.all(), 'author')
    - var authorsUnique = _.uniq(authorsAlphabetical, true, function(post){ return post.author })
    for post in authorsUnique
      unless post._ignore
        li= post.author
