extends layouts/_general
include mixins/_author

block content
  section
    h1 Authors

    ul.grid.grid--wrap.reverse-margin-md
      for author in _.sortBy(data.authors, 'displayname')
        +author(author)
