extends layout
include mixins/_author

block content
  article
    h1 Authors

    ul.reflex-container.reflex-wrap.reverse-margin-sm
      for author in _.sortBy(data.authors, 'displayname')
        +author(author)
