extends layouts/_general
include mixins/_author
include mixins/_nav

block nav
  +nav('authors')

block content
  .section-title: section
    h3.marginless.animate-prep Authors

  main: section: .card 
    ul.grid.reverse-margin-md
      for author in helpers.sortByLastName(data.authors)
        +author(author)

    .spacer.lg.hidden-xs

block trackers
  include includes/_intel_tracking
