include mixins/_feed-item
include mixins/_author
extends layouts/_general

block content
  section
    .reflex-container.reflex-align-center
      .reflex-col-2: h1 Feed
      .reflex-col-7: ul.filters
        - var allCats = _.map(site.posts.all(), function(post){ return post.categories })
        - var flatCats = _.flatten(allCats)
        - var uniqCats = _.uniq(flatCats, function(cat){ return cat })

        li All
        for cat in uniqCats
          li= cat

      .reflex-col-3.reflex-justify-end: .search
        input#search(type='search', results=5, autocomplete, placeholder='Search', x-webkit-speech)

    //- Authors
    //- .authors-horizontal-list
    //-   ul.reflex-container.reverse-margin-sm
    //-     for author in _.sortBy(data.authors, 'displayname')
    //-       +author(author)

    //- Articles
    ul#feed-grid.reflex-container.reflex-wrap.reverse-margin-md
      - var postsByDate = _.sortByAll(site.posts.all(), 'date')

      for post in postsByDate
        unless post._ignore
          +feed-item(post)