extends layouts/_general
include mixins/_feed-item
include mixins/_author
include mixins/_nav

block nav
  +nav('feed')

block content
  .section-title.feed-manipulators: section
    .grid.grid--align-center.grid--bleed
      .grid__col-xs-6.grid__col-sm-8.grid--direction-row
        h3.marginless.animate-prep Feed / 
        select#feed-filter
          option(selected, value='all') All
          for cat in helpers.getCategories(site)
            option(value=cat)= _.capitalize(cat)

      .grid__col-xs-6.grid__col-sm-4.hidden-xs.grid--justify-end: .search
        include includes/svg/_search
        input#search(type='search', placeholder='Search')
  
  //- Articles
  main: section: .card: ul#feed-grid.grid.reverse-margin-md
    - var mergedPosts = helpers.getMergedPosts(site, records)
    - var postsSortedByDate = _.sortBy(mergedPosts, function(post){ return new Date(post.git.date) }).reverse()

    for post in postsSortedByDate
      +feed-item(post)

block trackers
  if env == 'prod'
    +tracking-pixel('nth42')

  include includes/_intel_tracking
