extends layouts/_general
include mixins/_feed-item

block content
  .intro: section: .grid.grid--justify-center
      img.contain.lazyload(data-src='http://placehold.it/450x150&text=AndroidOnIntel', height='150px')

  .hero: section
    h5 Latest Commit
    h1 This would be the most recent post committed
    h4 by Author
    small @twitterhandle

  .recent: section
    h5 Recent Commits
    ul.grid.reverse-margin-md
      //- rename all post urls to jade names, to match the git keys
      - var renamedPostUrls = _.forEach(site.posts.all(), function(post){ post.git_url = post._url.substr(1, post._url.length - 6) + '.jade' })
      //- merge posts and git objects based on new key created
      - var mergedObjects = _.forEach(renamedPostUrls, function(post){ post.git = records.git[post.git_url] ? records.git[post.git_url] : records.git['posts/argyleink/first.jade'] })
      //- sort by date
      - var postsSortedByDate = _.sortBy(mergedObjects, function(post){ return post.git.date }).reverse()
      - var postsReduced = postsSortedByDate.slice(0,4)

      for post in postsReduced
        unless post._ignore
          +feed-item(post)

  .testimonial: section: .grid.grid--justify-center: .grid__col-9.grid--direction-column
    h6 Jason Mark | @jasondesign
    h2 Art is subjective. You like it or you don't like it. But design is the science of art. it's art with purpose. Design is about intent.
    a(href=data.paths.field_guide) Learn more in our Developer Field Guide
