doctype html
html

  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='description of your site')
    meta(name='author', content= "author of the site")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    base(href=base)

    include includes/_open-graph
    include includes/_twitter

    title= _path
    != css('')

  body
    include includes/_nav
    
    section: block content

    != js('')
