---
title:      Another Post
author:     Egaas
date:       1/1/3029
tags:       [android, apps]
categories: [design, build]
---

extends ../../views/_single

block content
  :markdown
    Wow, so much content on this blog.