---
title:      'Introduction to cross-platform mobile apps development'
categories: [ideate, build]
heroimage:  'intel_xdk2.jpg'
excerpt:    "Did you know that high quality mobile cross-platform apps can be developed just using HTML,CSS and JavaScript?"
---

extends ../../views/layouts/_single

block content
	:marked
		Did you know that high quality mobile cross-platform apps can be developed just using HTML,CSS and JavaScript?
		Ok, stupid question, lots of people know it but a big part of developers don’t know it, or they’re sceptic, or however not that much convinced about using those technologies in mobile field; for this last reason I decided to write several blog posts and some tech articles that will be linked down in this blog post for showing you how to use your skills in web field and with the IDE Intel XDK it can be developed into high quality mobile apps in a quick and extremely efficient way.
		For the purpose of these posts series, it is important to understand that apps executed on a mobile device are essentially of 3 kind:

		## Mobile Web App
		These kind of apps are basically web sites developed for working as they were mobile apps but executed in a web browser on the device.

		## Native Apps
		These kind of apps are developed with a specific programming language such as Objective-C in IOS field, Java in Android, BlackBerry, or for example C# in Windows Phone. The so-called native apps, unlike the mobile web apps, can access every device and operative system functionality and can be of a different kind. In fact, they range from simple apps to very complex 3D games.

		## Hybrid Native Apps
		These kind of apps will characterize this series of blog posts. They are developed in HTML but unlike web apps, they are executed in a native container. The Hybrid Native Apps can access a lot of the device and operative system funcionality such as the camera, the gyroscope, the accelerometer etc.

		If you've come this far and are still asking _"Why develop hybrid apps?"_ There are multiple differentiators:
		- Savings in term of human resources (company side).
		- Ease of learning technologies (developer side).
		- Development costs and tests are extremely low and quick.
		- Development of an app for every OS.
		- The app developed can be sold in stores like native apps.

		If you are a web developer surely you’ll have the required skills for setting up a mobile app, or, more generally, if you know how to develop a web site surely you can develope a mobile app. Let’s see what you need to start developing Hybrid apps and for following this posts series :
		Intel XDK -> https://software.intel.com/en-us/intel-xdk
		Intel XDK Documentation -> https://software.intel.com/en-us/xdk/docs/intel-xdk-overview

		Fabrizio Lapiello
		Intel Software Innovator
