---
title:      'Introduction to cross-platform mobile apps development'
categories: [ideate, build]
heroimage:  'intel_xdk2.jpg'
excerpt:    "Did you know that high quality mobile cross-platform apps can be developed just using HTML,CSS and JavaScript?"
---

extends ../../views/layouts/_single

block content
	:marked
		Did you know that high quality mobile cross-platform apps can be developed just using HTML,CSS and JavaScript?
		Ok, stupid question, lots of people know it but a big part of developers don’t know it or, they’re sceptic or however not that much convinced about using those technologies in mobile field; for this last reason I decided to write several blog posts and some tech articles that will be linked down in this blog post for showing you how to use your skills in web field and, with the IDE Intel XDK it can be developed high quality mobile apps in a quick way and extremely efficient.
		For the purposes of those posts series is important to understand that apps executed on a mobile device are essentially of 3 kind:

		## Mobile Web App
		This kindof apps are basically web sites developed for working as they were mobile apps but executed in a web browser on the device.

		## Native Apps
		This kind of apps is developed with a specific programming language such as Objective-C in IOS field, Java in Android or BlackBerry or for example C# in Windows Phone. The so-called native apps, unlike the mobile web apps , can access to every device and operative system functionality and can be of different kind, in fact they range from simple apps to very complex 3D games.

		## Hybride Native Apps
		This kind of apps will caractherize this series of blog posts, they are developed in HTML but unlinke web apps they are executed in a native container. The Hybride Native Apps can access to a lot of device and operative system funcionality such as the camera, the gyroscope, the accelerometer etc. etc.

		If you came so far and still asking what is the idea that makes the Hybride apps developing winning, the answers could be different:
		- Savings in term of human resources (company side).
		- Easiness of learning technologies (developer side).
		- Costs about develope and tests extremely low and quick.
		- Develope of an app for every OS.
		- The app developed can be sold in stores like native apps.

		If you are a web developer surely you’ll have the required skills for setting up a mobile app, or, more generally, if you know how develope a web site surely you can develope a mobile app. Let’s see what you need to start developing Hybrid apps and for following this posts series :
		Intel XDK -> https://software.intel.com/it-it/html5/tools
		Intel XDK Documentation -> https://software.intel.com/en-us/xdk/docs/intel-xdk-overview

		Fabrizio Lapiello
		Intel Software Innovator
