---
title:      'First Post!'
date:       1/1/3031
tags:       [android]
categories: [build, launch]
heroimage:  ''
excerpt:    'Short description of the article'
---

extends ../../views/_single

block content
  :markdown
    Here's my first post on this little blog. **How exciting!**