---
title:      'First Post!'
categories: [build, launch]
heroimage:  'https://images.unsplash.com/photo-1425315283416-2acc50323ee6?q=80&fm=jpg&s=94c3e17a79354c33dbd59ced862b1460'
excerpt:    'Short description of the article'
---

extends ../../views/layouts/_single

block content
  :markdown
    Here's my first post on this little blog. **How exciting!**