---
title:      '5 Apps for Android Developers'
categories: [ideate, launch, design]
heroimage:  'android-hero.png'
excerpt:    'A short list of apps available for Android that are designed to help developers with various day-to-day tasks' 
---

extends ../../views/layouts/_single

block content
  :marked
    # The top 10 apps for Android Developers

    Today I'd like to share a short list of apps available for Android that are designed to help developers with various day-to-day tasks that I am hoping you will find useful; I know I have!

    ### [Developer Tools](https://play.google.com/store/apps/details?id=com.roysolberg.android.developertools)

    This app is so useful for not only getting to the somewhat buried developer options in your system menu, but also allows you to:

    - Quickly check your log for errors, no digging needed
    - Send that same log to yourself to view later
    - See your configuration and features and add both to the log if desired
    - View your app's manifest
    - See resource allocation

    It was built by a developer hoping to simplify some common Android development tasks and is a great time saver; plus it's free.

    ### [Developer Console](https://play.google.com/store/apps/details?id=com.edsoft.google_developer)
    Summed up by the name, "Developer Console" let's you access Google's Play Store developer console from your phone, as well as Google AdWords and even Google Analytics, which I've found especially useful.

    It may not be groundbreaking, but viewing any of these on a phone previously was pretty tedious; this app allows you to monitor your app easily which is especially important when you've just launched and you're eager to monitor progress closely without being tied to your computer.


    ### [Libraries for Developers](https://play.google.com/store/apps/details?id=com.desarrollodroide.repos)
    This is an **amazing** app; it has a massive number of libraries created by developers for all kinds of applications. You can preview features of each library within the app, see snippets, get information and figure out which you would like to implement in your app - all for free. (Yes, there are ads that can be a little intrusive at times but it's more than worth it.)

    If you only download one app from this list, you can't go wrong with Libraries for Developers.

    ### [UI Design for Android](https://play.google.com/store/apps/details?id=com.boopathy.raja.tutorial)
    The good? it's free, it's a great way to mock up your UI quickly and on the go and it is extremely easy to use. 90% or so of the widgets seem to work as expected, and *sometimes* you can get source code.

    The not so good? It's got some bugs. A few widgets don't seem to work correctly and some users have had issues getting their source code to download - however if you care more about mocking up the visuals than getting some quick cut-and-paste code you're happy to write yourself, then this is still an invaluable app.



    ### [AIDE- IDE for Android Java C++](https://play.google.com/store/apps/details?id=com.aide.ui)
    With over 22,000 five-star ratings and counting, this is another tool for letting you work on developing your app on the go.

    This is an app for creating apps - a pocket IDE. You can code as you normally would with the ability to do pretty much everything you would in Android Studio.

    The app is free, however it is worth investing in a good, travel-size bluetooth keyboard if you care about your thumbs. &nbsp;
    &nbsp;           
    &nbsp;

    --------------
    If you have an app you rely on heavily to help you with development, I'd love to hear about it - my Dell Venue still has plenty of space left to fill!
