---
title:      'Test Post'
categories: [ideate, design]
heroimage:  'bolt.jpg'
excerpt:    'This is a test post, please work' 
---

extends ../../views/layouts/_single

block content
  :marked
    This is a test. **Work dammit!**
