svg.icon-youtube(width='25', height='25', viewbox='0 0 25 25', xmlns='http://www.w3.org/2000/svg')
  ellipse.animate-fill(fill='#222', cx='12.002', cy='12.054', rx='12.002', ry='12.054')
  path.animate-fill(d='M15.734,7.35 L8.21,7.35 C6.97,7.35 5.953,8.366 5.953,9.607 L5.953,14.121 C5.953,15.364 6.969,16.381 8.21,16.381 L15.734,16.381 C16.976,16.381 17.991,15.364 17.991,14.121 L17.991,9.608 C17.991,8.368 16.977,7.351 15.735,7.351 L15.734,7.35 Z M10.467,14.874 L10.467,8.854 L14.229,11.864 L10.466,14.874 L10.467,14.874 Z', fill='#FFF')
