.lazyanimate
  &.lazyload,
  &.lazyloading
    opacity:0
    transform:translateY(5px)
    
  &.lazyloaded
    opacity:1
    transform:translateY(0)
    transition:transform 0.3s ease, opacity 0.3s ease
  
.droid-hero > path:first-child
  transform-origin:center center
  animation:rotateForever 10s linear infinite
  will-change:transform
  
@keyframes rotateForever
  from
    transform:rotateZ(0)
  to
    transform:rotateZ(360deg)
    
.animate-fill
  transition:fill 0.3s ease