.authors-horizontal-list
  margin:4rem 0
  
.author
  img
    min-height:200px
    
  .name
    margin-top:0.25rem
      
  small
    display:block
    
.author-social
  margin-top:5px
  > a
    text-decoration:none
    padding:0.25rem
  path
    fill:lighten(desaturate(blue, 100%), 50%)
  svg
    path
      @extend .animate-fill