@require _settings

.btn
  text-decoration:none
  color:default-color
  padding:0.25rem 0.5rem
  border-radius:2px
  display:inline-block
    
  &.clear
    color:white
    border:none
    padding:0
    
    &.blue:hover
      color:blue
      background:transparent
      g
        stroke:blue
    
    &:hover 
      text-decoration:underline
      > svg
        transform:translateX(10px)
      
  &.blue
    color:blue
    
    g
      stroke:blue
    
    &:hover
      background:blue
      color:white
      g
        stroke:white
      > svg
        transform:translateX(10px)
        
    &.bordered
      border:1px solid blue
    
  &.small
    font-size:0.8rem
    
  &.large
    font-size:1.2rem

  &.disabled
    button-disabled()
    
  > svg
    transition:transform 0.3s ease
    position:relative
    top:0.3em
  