@require _settings

.btn
  text-decoration:none
  color:default-color
  padding:0.25rem 0.5rem
  border:1px solid default-color
  border-radius:2px
    
  &.clear
    color:white
    border:none
    padding:0
    > svg
      transition:transform 0.3s ease
      position:relative
      top:0.3em
    &:hover > svg
      transform:translateX(10px)
      
  &.blue
    color:blue
    border-color:blue
    
  &.small
    font-size:0.7rem
    
  &.large
    font-size:1.2rem

  &.disabled
    button-disabled()