#feed-grid
  margin-bottom:2rem
  will-change:height
  
  +below(mobile)
    margin-bottom:0
  
  &[data-empty]:after
    content:"No results"
    width:100%
    text-align:center

.feed-item 
  border-radius:2px
  will-change:transform, top, left
  &:hover .post-title
    text-decoration:underline

  > a
    text-decoration:none
    color:initial
    
  h6
    text-transform:capitalize
    color:hsl(214, 4%, 34%)
    margin-bottom:0.5rem
    
  img
    height:200px
    overflow:hidden
    
    +above(desktop)
      height:150px
    
.post-title
  margin:0.5rem 0 0.25rem
  color:blue
  
.post-meta
  color:intel-grey
  margin:0.25rem 0
  > span
    margin:0 4px
    color:hsl(0, 0%, 55%)
  > address
    color:intel-grey
    display:inline
    font-style:normal
  
.post-excerpt
  color:hsl(0,0%,13%)
  
.post-meta, .post-excerpt
  font-size:0.7rem
  display:block

.feed-manipulators .grid
  +below(tablet)
    h3
      display:none
  +below(mobile)
    .grid__col-sm-6
      align-items:center

#feed-filter
  color:#333
  border:none
      
.related-posts
  > .related-post
    &:first-child
      border-top:none
      padding-top:0
      margin-top:0

.related-post
  border-top:1px solid #eee
  margin-top:2rem
  padding-top:2rem
  
  img
    height:170px
    padding-bottom:1rem
    +above(mobile)
      padding-bottom:0
      padding-right:1rem