footer
  background:white

  h2
    +below(mobile)
      font-size:1rem

  .link-nav-set
    +below(mobile)
      margin:1rem 0

.site-map
  padding:2rem 0
  +below(laptop)
    padding:2rem
  +below(mobile)
    padding:1rem
    .grid--direction-column
      align-items:center
    .grid--justify-end
      justify-content:center

.inline-social
  margin-right:1rem
  text-decoration:none
  text-align:left
  display: table

  &:hover
    cursor:pointer
    > .social-text
      text-decoration:underline
  +below(tablet)
    margin:0 0.5rem

.social-icon, .social-text
  display: table-cell
  vertical-align: middle

.social-icon
  min-width: 65px

.social-text
  color:white
  padding-left: 5px

  +below(tablet)
    display: none

.dark-grey-bg
  background-color:hsl(0,0%,22%)
  color:white
  padding:2rem 0

  +below(mobile)
    padding:1rem 0 0
