footer
  background:white

.site-map
  padding:1rem 0 3rem
  +below(laptop)
    padding:1rem 1rem 3rem
  +below(mobile)
    padding:1rem
    .grid--direction-column
      align-items:center
    .grid--justify-end
      justify-content:center
  
.inline-social
  margin-right:1rem
  text-decoration:none
  text-align:center
  &:hover
    cursor:pointer
    
.social-text
  position:relative
  top:-1.75em
  margin-left:0.5rem
  color:white

.dark-grey-bg
  background-color:hsl(0,0%,25%)
  color:white
  padding:2rem 0