header
  background-size:cover
  background-position:center center
  color:white
  text-shadow:1px 1px 0 hsla(0,0%,0%,0.2)
    
  &.lazyloaded:before
    content: " "
    position: absolute
    top:0
    bottom:0
    left:0
    right:0
    background-color:hsla(0,0%,0%,0.3)
  
.centered-title
  margin:5vh auto auto
  +above(900px)
    margin:15vh auto auto
  
.header-title
  margin-top:0
  margin-bottom:2rem
  +below(mobile)
    font-size:1.5em

.header-subtitle
  font-size:0.8rem
  margin-bottom:0.5rem
  +below(mobile)
    font-size:0.7rem

.header-author
  margin-bottom:0
  
.header-nameplate
  position:relative
  top:1.5rem
  
  > a > .avatar
    float:left
    width:90px
    height:90px
  > .meta svg
    filter: drop-shadow(1px 1px 0 hsla(0,0%,0%,0.2))
    &:hover
      path
        fill:default-color

.header-social
  > a
    margin-right:0.25rem
    text-decoration:none

.section-title
  padding:1rem 0
  background:blue
  background-image:
    linear-gradient(left, hsla(202, 100%, 38%, 80%), hsla(202, 100%, 68%, 20%)),
    url(/img/section-title-bg.png)
  background-size:auto 100%
  color:white