header
  height:40vh
  background-size:cover
  background-position:center center
  color:white
  text-shadow:1px 1px 0 hsla(0,0%,0%,0.2)
  // background-attachment:fixed
  +above(900px)
    height:60vh
  
.centered-title
  margin:auto
  
.header-title
  margin-bottom:0
