.hero
  padding:2.5rem 0
  padding:5vh 0
  position:relative
  overflow:hidden
  text-shadow:0 2px 4px hsla(0,0%,0%,0.15)
  color:white
  background:hsl(0,0%,70%)

  +above(laptop)
    padding:5rem 0
    padding:10vh 0

  +above(desktop)
    padding:10rem 0
    padding:15vh 0

  .heroimage
    position:absolute
    top:0
    left:0
    z-index:1
    width:auto
    height:100%
    filter: grayscale(100%)
    width:100%
    height:auto

  section
    position:relative
    z-index:2

  &:after
    content:" "
    display:block
    position:absolute
    top:0
    left:0
    right:0
    bottom:0
    background-color:hsla(0,0%,0%,0.4)
    z-index:1

.hero-title
  margin:0.25rem 0 2rem
  +below(mobile)
    font-size:1.5em

.author-nameplate
  .avatar
    float:left
    margin-right:1rem
  small
    display:inherit
    margin-top:-0.25em

.avatar
  width:40px
  height:40px
  box-shadow:0 2px 4px hsla(0,0%,0%,0.4)
  transition:box-shadow 0.3s ease, transform 0.3s ease
  &:hover
    transform:scale3d(1.1, 1.1, 1)
    box-shadow:0 3px 6px hsla(0,0%,0%,0.4)

.intro
  background-color:#eee

  .text-overlay
    position:absolute
    top:3rem
    left:0
    width:100%
    margin:0 auto

  // &:hover .droid-hero > path:first-child
  //   animation-duration:7s

.recent
  overflow:hidden
  background-color:white
  padding-top:2rem
  > section
    position:relative

.recent-title
  margin-top:0

.commit,
.recent-commit
  position:absolute
  top:6px
  left:-2rem

  &:before
    content:" "
    position:absolute
    top:15px
    left:8px
    width:2px
    height:400px
    background:white

.recent-commit
  top:6px

.commit
  path
    fill:white

.recent-commit
  &:before
    background:intel-grey
    bottom:25px
    top:auto
    height:40px

.testimonial
  background:blue
  background-size:cover
  color:white
  padding:4rem 0 3rem
  position:relative
  overflow:hidden

  &:before
    content:" "
    background-image:url(/img/tear.svg)
    background-size:auto 100%
    position:absolute
    top:-3px
    left:-8px
    width:102%
    height:39px
    filter: drop-shadow(0 1px 2px hsla(0,0%,0%,0.3))

  .pop-out
    position:absolute
    top:6px
    left:-40px
    +below(tablet)
      position:relative
      top:-1rem
      left:0

  .btn.clear:hover
    color:white
