.hero
  background:default-color
  hover-darken()
  padding:4rem 0
  a
    color:white
    text-decoration:none
    &:hover, &:active
      color:white

.recent
  padding:1rem 0 3rem

.testimonial
  background:blue
  hover-darken()
  color:white
  padding:1rem 0 3rem