#icon-search
  width:15px
  height:15px
  path
    fill:white
    
#icon-arrow
  height:20px
  
#tweet > #icon-twitter,
#post > #icon-facebook,
#plus > #icon-googleplus
  width:65px
  height:65px
  ellipse
    fill:white
  > path
    fill:#0FAAF5
    
#post > #icon-facebook
  > path
    fill:#39569E
    
#plus > #icon-googleplus
  > path
    fill:#D75B5B