.hub-logo
  &:hover
    path:last-child
      fill:lighten(default-color, 20%)

.icon-search
  width:15px
  height:15px
  position:relative
  top:3px
  right:5px
  path
    fill:white
    
.icon-arrow
  height:20px
  
.tweet > svg,
.post > svg,
.plus > svg
  width:65px
  height:65px
  filter: drop-shadow(1px 1px 3px hsla(0,0%,0%,0.4))
  ellipse
    fill:white
  path
    fill:twitter

.inline-social
  .icon-twitter path
    fill:twitter
  .icon-facebook path
    fill:facebook
  .icon-googleplus path
    fill:gplus
    
  &:hover
    .icon-twitter 
      ellipse
        fill:twitter
      path
        fill:white
    .icon-facebook 
      ellipse
        fill:facebook
      path
        fill:white
    .icon-googleplus 
      ellipse
        fill:gplus
      path
        fill:white
      
a:hover
  .icon-twitter-bird path
    fill:twitter
  .icon-link path
    fill:default-color
  .icon-codepen path
    fill:codepen
  .icon-github path
    fill:github