.language-selector
  font-size: 0.875rem
  background-color: #383838

  .grid__col-12
    padding-top: .5rem
    padding-bottom: .5rem

  +below(tablet)
    font-size: .75rem

  select
    border:none
    outline:none
    background:#383838
    color:white
    position:relative

    .chrome-on-windows, .windows-ie-10, .windows-ie-11
      & > option
        color: white
        background: #383838

  label
    color: white
    font-weight: bold
