nav
  box-shadow:0 2px 5px hsla(0,0%,0%,0.13)
  padding:0.5rem 1rem
  background-color:hsl(0,0%,98%)

.link-nav-set  
  > a
    text-decoration:none
    color:hsl(0,0%,50%)
    font-size:0.8rem
    margin:0 0.25em
    cursor:pointer
    
    &:hover, &.active
      color:default-color

    &:first-child
      margin-left:0
    &:last-child
      margin-right:0
    
.social-icon 
  @extend .flex-child-image-fix
  margin:0 2px
  height:25px
  width:25px
  &:last-child
    margin-right:0
    
.logo
  margin-right:2rem
  
.field-guide
  margin-left:1rem