nav
  box-shadow:0 2px 5px hsla(0,0%,0%,0.13)
  padding:1rem 0
  background-color:white
  position:relative
  z-index:2
  
  > section
    +below(mobile)
      padding:0 0.5rem
  
  .link-nav-set 
    > a
      color:hsl(0,0%,20%)

      &:first-child
        margin-left:0
      &:last-child
        margin-right:0
        
  +below(tablet) 
    padding-bottom:0.5rem 
    .link-nav-set > a
      padding:0.5rem 0.25em
        
    .grid > div:not(.link-nav-set)
      justify-content:center
      > a
        text-align:center
        display:block
    

.link-nav-set  
  > a
    text-decoration:none
    color:hsl(0,0%,50%)
    font-size:0.8rem
    margin:0 0.25em
    cursor:pointer
    position:relative
    
    +above(tablet)
      font-size:0.9rem
    
    &:hover, &.active
      color:blue
    
.social-icon 
  @extend .flex-child-image-fix
  margin:0 2px
  height:25px
  width:25px
  &:last-child
    margin-right:0
  &:hover 
    > svg 
      ellipse
        fill:default-color
      
    .icon-youtube > ellipse
      fill:youtube
    .icon-instagram > ellipse
      fill:instagram
    .icon-twitter > ellipse
      fill:twitter
    .icon-facebook > ellipse
      fill:facebook
    .icon-googleplus > ellipse
      fill:gplus
    
.logo
  margin-right:2rem
  
.field-guide
  margin-left:1rem
  
.social-sidebar
  position:absolute
  top:5rem
  left:0
  padding:0.5rem 0.8rem
  background:white
  width:auto
  box-shadow:0 2px 2px hsla(0,0%,0%,0.2)
  
  +below(desktop)
    display:none
  
  > a
    width:30px
    height:30px
    margin:0.3rem auto
  
  .tweet > svg, .post > svg, .plus > svg
    width:30px
    height:30px
    filter:none
      
    path
      fill:white
      
  .tweet > svg
    ellipse
      fill:twitter
  .post > svg
    ellipse
      fill:facebook
  .plus > svg
    ellipse
      fill:gplus
