html, body
  background-color:#eee

.reflex-container.reverse-margin-sm
  margin:0 -5px
  width:calc(100% + 10px)
  
.reflex-container.reverse-margin-md
  margin:0 -10px
  width:calc(100% + 20px)

section
  margin:0 auto
  max-width:992px
  
  +below(992px)
    padding:0 1rem
    &.no-responsive-padding
      padding:0
  
  img
    max-width:100%

article
  padding:0 0 2rem 0

input[type='search']
  border:none
  // background:none
  outline:none
  box-shadow:none