nav
  nav()
  & > h1
    margin:0
    & > a
      color:white
      text-decoration:none
  
// nav
//   display:flex
//   text-align:center
//   & > a
//     flex:1

section
  margin:0 auto
  max-width:940px
  
  img
    max-width:100%

article
  padding:2rem 0
  +below(940px)
    padding:1rem