nav
  nav()
  & > h1
    margin:0
    & > a
      color:white
      text-decoration:none
  
// nav
//   display:flex
//   text-align:center
//   & > a
//     flex:1

section
  margin:0 auto
  max-width:940px

article
  padding:2rem 0