font-face('clearsans-thin', 'font/clearsans')
// font-face('clearsans-light', 'font/clearsans')
font-face('clearsans-regular', 'font/clearsans')
// font-face('clearsans-medium', 'font/clearsans')
font-face('clearsans-bold', 'font/clearsans')

.fonts-loaded
  body
    font-family: clearsans-regular
  .clearsans-thin, .thin-type
    font-family: clearsans-thin
  // .clearsans-light
  //   font-family: clearsans-light
  .clearsans-regular, .normal-type
    font-family: clearsans-regular
  // .clearsans-medium
  //   font-family: clearsans-medium
  .clearsans-bold, .bold-type
    font-family: clearsans-bold
    
  h1,h2,h3,h4,h5,h6
    font-family: clearsans-bold

p
  paragraph: 1em false

.fix-reflex-type
  word-spacing:normal !important
  letter-spacing:normal !important
  line-height:1.2 !important

.initial-caps
  text-transform:capitalize

.ellipsis
  text-overflow:ellipsis
  white-space:nowrap
  overflow:hidden

.text-right
  text-align:right
  
.text-center
  text-align:center
  
text-selection(default-color)