font-face('clearsans-thin', 'font/clearsans')
font-face('clearsans-light', 'font/clearsans')
font-face('clearsans-regular', 'font/clearsans')
font-face('clearsans-medium', 'font/clearsans')
font-face('clearsans-bold', 'font/clearsans')

.fonts-loaded
  body
    font-family: clearsans-regular
  .clearsans-thin
    font-family: clearsans-thin
  .clearsans-light
    font-family: clearsans-light
  .clearsans-thin
    font-family: clearsans-thin
  .clearsans-regular
    font-family: clearsans-regular
  .clearsans-medium
    font-family: clearsans-medium
  .clearsans-bold
    font-family: clearsans-bold

p
  paragraph: 1em false