.card
  background:hsl(0,0%,100%)
  box-shadow:0 2px 5px hsla(0,0%,0%,0.18)
  padding:2rem 4rem
  width:calc(100% + 8rem)
  margin:0 -4rem
  
  +below(laptop)
    padding-top:0
  
  +below(mobile)
    margin:0
    padding:0 1rem 1rem
    width:100%

.hidden-ss
  +below(mobile)
    display:none
    
.hidden-sm
  +below(tablet)
    display:none
    
.hidden-lg
  +below(desktop)
    display:none

.spacer
  &.xs
    padding:1rem 0
  &.sm
    padding:2rem 0
  &.md
    padding:4rem 0
  &.lg
    padding:8rem 0

.marginless
  margin:0
.margin-xs
  margin:0.7rem 0
  
.push-top
  margin-top:1rem
.push-bottom
  margin-bottom:1rem
.push-left
  margin-left:1rem
.push-right
  margin-right:1rem
  
.paddingless
  padding:0

.bg-cover
  background-size:cover
  
.cover
  object-fit:cover

.bg-contain
  background-size:contain
  
.contain
  object-fit:contain
  
.flex-child-image-fix
  display:inherit
  
.circle
  border-radius:50%

.auto-width-ss
  +above(mobile)
    width:auto