.card
  background:hsl(0,0%,100%)
  box-shadow:0 2px 5px hsla(0,0%,0%,0.18)
  padding:2rem 4rem
  border-radius:2px

.spacer
  &.xs
    margin:0.5rem 0
  &.sm
    margin:1rem 0
  &.md
    margin:2rem 0
  &.lg
    margin:4rem 0

.marginless
  margin:0
  
.push-top
  margin-top:1rem
.push-right
  margin-right:1rem
  
.paddingless
  padding:0

.text-right
  text-align:right
  
.text-center
  text-align:center
  
.thin-type
  font-weight:lighter
  
.normal-type
  font-weight:normal
  
.bold-type
  font-weight:bold
  
.cover
  object-fit:cover
  
.flex-child-image-fix
  display:inherit
