@import '../../bower_components/reflex-grid/css/reflex.css'
@require '_settings'
@require '_utils'
@require '_icons'
@require '_colors'
@require '_nav'
@require '_footer'

section
  margin:0 auto
  max-width:992px
  
  +below(992px)
    padding:0 1rem

  img, svg
    max-width:100%