@import '_settings'
@import '_buttons'

normalize-css()
base()
  
nav
  nav()
  & > h1
    margin:0
  
// nav
//   display:flex
//   text-align:center
//   & > a
//     flex:1

article, section
  padding:2rem