mixin author(author)
  li.author.reflex-col-3.reflex-col-md-2(class=post.categories)
    .reflex-item.reflex-item-margin-sm
      - var image = author.gravatar ? author.gravatar : 'http://placehold.it/200x200?text=#{author.displayname}'

      img.reflex-img(src=image)
      small= author.displayname