mixin language-selector(cur)
  div.language-selector: section
    .grid
      .grid__col-12
        select
          option(value="en") English
          option(value="zh-hans") 简体中文
          option(value="pt") Português
          option(value="ru") Русский
          option(value="es") Español
