mixin related-post(post)
  - var image = post.heroimage ? post.heroimage : 'http://placehold.it/350x150?text=#{post.author}'
  - var author = helpers.getAuthor(post, data)

  .related-post.grid.grid--bleed
    .grid__col-md-4
      img.grid__cell-img(src=image)
    .grid__col-md-8
      a(href=post._url): p.marginless= post.title
      small by #{author.displayname}