---
title:      'Geolocation in Apps'
categories: [launch, build]
heroimage:  'geolocation.jpg'
excerpt:    'We go over some of the challenges you will run into when using Geolocation in your app.'
---

extends ../../views/layouts/_single

block content
  <iframe width="560" height="315" src="https://www.youtube.com/embed/UiAk9vQyQOk" frameborder="0" allowfullscreen></iframe>
