---
title:      'My First Post!'
categories: [ideate, launch]
heroimage:  ''
excerpt:    'Short description of the article'
_ignore:    true
---

extends ../views/layouts/_single

block content
  :markdown
    Here's my first post on this little blog. **How exciting!**