---
title: 'My First Post!'
author: 'Template'
date: 1/1/2020
tags: [android]
categories: [design, develop]
_ignore: true
---

extends ../views/_single

block content
  :markdown
    Here's my first post on this little blog. **How exciting!**