---
title:      'Intel, Android and Linux; The Lost Tablet'
categories: [ideate, design]
heroimage:  ''
excerpt:    "In the world of tablets, there is one King; the Apple iPad. Without Apple's fancy giant iPhone, there wouldn't be a tablet market, 
	and now, said tablet market is on pause."
---

extends ../../views/layouts/_single

block content
  :markdown
	In the world of tablets, there is one King; the Apple iPad. Without Apple's fancy giant iPhone, there wouldn't be a tablet market, 
	and now, said tablet market is on pause. Recent shipments of tablets have slowed down, and there doesn't seem to be an increase on the cards
	any time soon, either. The iPad Pro is not a device for pros, in fact there's very little 'Pro' about it, aside from maybe the size of it. Its
	ARM porcessor might be one of the fastest mobile processors out there, but that's exactly what it is; a mobile processor. A mobile processor
	cannot pull double-duty like Microsoft's Surface line of tablets-come-laptops, and as Intel processors find their way into more Android tablets, it
	it appears as though Google and partners have overlooked something; Linux. The Surface line of tablets is proving popular due to the fact that they
	can be used for real-world tasks, an Android tablet is only as good as the apps it can run, which vary from content consumption to games. ARM 
	processors can in fact run Linux, but not particularly well, a quad-core Intel Atom - like that found inside of ASUS' ZenFone 2 - can run full 
	Linux, something like Ubuntu or even Fedora. One of the only ways to save the Android tablet is to share hardware with a Linux distribution of
	some kind, this seems crazy and companies like Canonical have dabbled in it before, but Android and Linux are closer cousins than many realize, and
	bringing the two together in one device could see Android tablets fly off shelves.

	## How It Would Work

	A Microsoft Surface runs one operating system, and in Windows 10 there are 'Desktop' and 'Tablet' modes to tailor the experience to different
	use cases. An Android tablet, say the [Intel-powered Dell Venue 10](http://www.androidheadlines.com/2015/07/featured-review-dell-venue-10-7000-series.html), 
	runs a mobile operating system shoehorned into a larger display.
	Just as with any Android device however, it runs a Linux kernel, a fairly modern one at that. Anybody who has dabbled in Linux will know that
	you can easily run different Desktop environments and switching between them has been easy for the better part of a decade. Why hasn't this been 
	done on an Android tablet? 

	How something like this could work is through a keyboard dock that triggers some sort of command that kills the Android GUI running on top of 
	the Linux kernel and then opens up maybe Ubuntu's Unity or a simple KDE or GNOME Desktop. With a simple suite of apps from OpenOffice.org to the
	GIMP and beyond users have a fully-fledged Desktop operating system right there at their fingertips. Of course, I'm simplifying things massively
	here, but it's already been done before, Motorola tried something similar with their ill-fated Lapdock initiative and Canonical has tried to get
	Ubuntu into phones for a long time now. The great thing about Linux is that a manufacturer could tweak this Desktop GUI to look like whatever they
	wanted it to, users need not even realize they're using a Linux Desktop, all they'd know is that they were getting real work done on their tablet, 
	via a mouse and keyboard without sacrificing the great variety of apps and games that Android offers in a mobile experience. 

	## Why It Makes Sense

	Stuffing a Linux installation into an Android tablet doesn't make a lot of sense on the face of it, but consumers have been purchasing tablets
	to replace their Laptops for years now, only to find that they're just giant smartphones. An x86 processor - like Intel's perfectly capable Quad-Core
	Z3580 inside the ASUS ZenFone 2 or even the [new Core M line](http://www.androidheadlines.com/2015/09/intel-begins-testing-their-core-m-socs-in-smartphones.html)
	 - could run Linux pretty nicely. A similar processor runs Windows 10 without an issue in a Surface 3, so why not
	a Linux Desktop of some kind? Microsoft's failed experiment with Windows RT just goes to show that you can't ask a mobile processor to do a Desktop
	processor's job, and Intel have pushed their power consumption down to the ground with their latest Broadwell and Skylake processors, so there
	would be no hit to battery life.

	There's a reason that bulky, low-resolution laptops from yesteryear are still sold in decent quantities, it's because the tablet cannot replace 
	them. A Microsoft Surface can, an iPad Pro cannot, and an Android tablet has no chance. By putting Linux inside of one of these tablets, users
	would get access to a whole suite of *free* applications that are compatible with Windows and Mac OS X and they'd finally be able to throw
	that clunky laptop away. I know I'd rather get an Android tablet that could become something more in a keyboard dock or in a certain mode, rather
	than simply purchasing another giant smartphone.

	## The Missed Opportunity

	All of this is a missed opportunity on the side of Google and their partners. Google could even have Chrome OS - a Linux distribution in its own right -
	run on these devices when docked. Intel has the hardware to enable better, more useful tablets that people would actually use for more than just
	the latest season of House of Cards on Netflix. Intel's x86 processors show better longevity than ARM's mobile processors, and buzzwords like "64-bit"
	have been second-nature to mobile chips like the Atom for years now. 

	It's about time that the tablet got smarter, and it's not right to leave Microsoft to once again corner the market with Windows when Linux is
	sat there, waiting for the right vessel to be useful for the average user. That vessel is an Android tablet with an x86 processor ticking away 
	under-the-hood and the sooner the industry realizes this, the better it'll be for the tablet market as a whole. Laptop sales are dying, tablet
	sales are stalling and all the while the biggest tablet manufacturer on the planet things that 'bigger is better'. Microsoft and Intel have
	shown the market the best way forward, and if Google and their partners don't get onboard with the idea that Android tablets need to *do more* 
	in order to be seen as legitimate competitors to the iPad soon, it might be too late for them.

