---
title:      'Another Post'
categories: [design, build]
heroimage:  'bridge.jpg'
excerpt:    'Short description of the article'
---

extends ../../views/layouts/_single

block content
  :marked
    Wow, so much content on this blog.
