---
title:      'Another Post'
tags:       [android, apps]
categories: [design, build]
heroimage:  ''
excerpt:    'Short description of the article'
---

extends ../../views/layouts/_single

block content
  :markdown
    Wow, so much content on this blog.