---
title:      'Another Post'
tags:       [android, apps]
categories: [design, build]
heroimage:  'https://images.unsplash.com/photo-1427501482951-3da9b725be23?q=80&fm=jpg&s=f68edb15ce4565555ccf9b6395da4dff'
excerpt:    'Short description of the article'
---

extends ../../views/layouts/_single

block content
  :markdown
    Wow, so much content on this blog.